<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Accounts - Wardrobe</title>
    <link rel="stylesheet" href="contact.component.css" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  </head>
  <body>
   
    <!-- Navigation ends here -->
    <!-- Account Page -->

    <div class="account-page">
      <div class="container">
        <div class="row">
            <div class="form-container">
              
              <form [formGroup]="myForm" novalidate>
                
                <div class="form-group">
                  <label style="margin-right: 150px;">User Name</label>
                  <input
                    type="text"
                    class="form-control"
                    formControlName="userName"
                    [ngClass]="{
                      'is-invalid':
                        userName.errors && (userName.touched || userName.dirty),
                      'is-valid': userName.valid
                    }"
                  />
                  <div class="invalid-feedback">
                    <!--*ngIf Directive-->
                    <strong
                      *ngIf="userName.errors?.required"
                      style="color: red; font-size: x-small"
                      >User Name is required</strong
                    >
                    <strong *ngIf="userName.errors?.minlength"
                      >User Name length must be greater than<br>
                      {{ userName.errors?.minlength.requiredLength }} character.
                      {{
                        userName.errors?.minlength.requiredLength -
                          userName.errors?.minlength.actualLength
                      }}
                      more character required.
                    </strong>
                  </div>
                </div>
                <div class="form-group">
                  <label style="margin-right:160px ;">Password</label>
                  <input
                    type="password"
                    class="form-control"
                    formControlName="password"
                    [ngClass]="{
                      'is-invalid':
                        password.errors && (password.touched || password.dirty)
                    }"
                  />
                  <div class="invalid-feedback">
                    <strong
                      *ngIf="password.errors?.pattern"
                      style="color: red; font-size: small"
                    >
                      weak password</strong
                    >
                    <strong
                      *ngIf="password.errors?.required"
                      style="color: red; font-size: x-small"
                    >
                      Pass is required</strong
                    >
                  
            </div>
                </div><button type="submit" class="btn btn-primary"><span>Login</span></button></form><div class="form-btn">
                  <span>Login</span>
                  </div></div></div></div></div></body></html>
 
    <!-- Footer -->
    <div class="footer">
      <div class="container">
        <div class="row">
          <div class="footer-col-1">
            <h3>Download Our App</h3>
            <p>
              Download App for Android <br />
              and ios mobile phone
            </p>
            <div class="app-logo">
              <img src="assets/play-store.png" alt="" />
              <img src="assets/app-store.png" alt="" />
            </div>
          </div>
          <div class="footer-col-2">
            <img src="assets/logo-white.png" alt="" />
            <p>
              Ecommerce, also known as electronic commerce or internet commerce and also we can do the transfer of money and data to execute these transactions.The evening is therefore prime time for ecommerce sites, though departments are winding down closed until the following day.
            </p>
          </div>
          <div class="footer-col-3">
            <h3>Useful Links</h3>
            <ul>
              <li>Coupons</li>
              <li>Blog Post</li>
              <li>Return Policy</li>
              <li>Join Affiliate</li>
            </ul>
          </div>
          <div class="footer-col-4">
            <h3>Follow us</h3>
            <ul>
              <li>Facebook</li>
              <li>Twitter</li>
              <li>Instagram</li>
              <li>YouTube</li>
            </ul>
          </div>
        </div>
        <hr />
        <p class="copyright">Copyright 2022 - Wardrobe.com</p>
      </div>
    </div>


