.cart-page {
  margin: 30px auto;
}

table {
  width: 100%;
  border-collapse: collapse;
}

.cart-info {
  display: flex;
  flex-wrap: wrap;
}
th {
  text-align: left;
  padding: 5px;
  color: #fff;
  background: #DA70D6;
  font-weight: normal;
}
td {
  padding: 10px 5px;
}
td input {
  width: 40px;
  height: 30px;
  padding: 5px;
}
td a {
  color: #DA70D6;
  font-size: 12px;
}

td img {
  width: 80px;
  height: 80px;
  margin-right: 10px;
}
.total-price {
  display: flex;
  justify-content: flex-end;
}

.total-price table {
  border-top: 3px solid #DA70D6;
  width: 100%;
  max-width: 400px;
}
td:last-child {
  text-align: right;
}
th:last-child {
  text-align: right;
}
.form-container span {
  font-weight: bold;
 padding-top: 0 20px;
  color: rgb(255, 255, 255);
  cursor: pointer;
  width: 200px;
  display: inline-block;
  font-size: 22px;
}

.form-btn {
  display: inline-block;
}
.form-container form {
  max-width: 300px;
 padding-top: 0 10px;
  position: relative;
  top: 90px;
  transition: transform 1s;
}
form .btn {
  width: 100%;
  border: none;
  cursor: pointer;
  margin: 10px;
}
.form-container {
  background: rgb(224, 130, 248);
  width: 500px;
  height: 50px;
  position: relative;
  text-align: center;
 padding-top: 5px;
  margin-left: 930px;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 5px 5px 10px #DA70D6;
}